@keyframes wave {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  transition: var(--all-transitions)
}

.loader--hidden {
  opacity: 0;
  pointer-events: none;
}

.loader__wave {
  width: 0.5rem;
  height: 8rem;
  background: linear-gradient(45deg, var(--primary-highlight-color), var(--primary-text-color), var(--primary-highlight-color));
  animation: wave 1s linear infinite alternate;
  border-radius: 1rem;
}

.loader__wave:nth-child(1) {
  animation-delay: -0.9s;
}

.loader__wave:nth-child(2) {
  animation-delay: -0.8s;
}

.loader__wave:nth-child(3) {
  animation-delay: -0.7s;
}

.loader__wave:nth-child(4) {
  animation-delay: -0.6s;
}

.loader__wave:nth-child(5) {
  animation-delay: -0.5s;
}

.loader__wave:nth-child(6) {
  animation-delay: -0.4s;
}

.loader__wave:nth-child(7) {
  animation-delay: -0.3s;
}

.loader__wave:nth-child(8) {
  animation-delay: -0.2s;
}

.loader__wave:nth-child(9) {
  animation-delay: -0.1s;
}

.loader__wave:nth-child(10) {
  animation-delay: 0s;
}