.body {
  background-image: linear-gradient(to right, #004e92, #000428);
  color: var(--primary-text-color);
  font-family: 'Roboto Mono', monospace;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.header__name {
  font-weight: 500;
  color: var(--gold);
  margin: 0;
}

.header__slogan {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
}

.alert p {
  margin-bottom: 0;
}

.contenido {
  padding: 1rem;
}

.contenido-principal {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}

.presupuesto p span {
  font-weight: normal;
}

.campo {
  margin-bottom: 2rem;
}

.error {
  text-align: center;
}

/* .alert {
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
} */

.gastos {
  margin-bottom: 2rem;
}

.gastos-realizados {
  margin-bottom: 1rem;
}

.gastos-realizados li {
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 0.5rem 0;
}

.gastos-realizados li:last-of-type {
  margin-bottom: 0;
}

.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.gastos-realizados li p .gasto {
  background-color: #004085;
  padding: 0.25rem;
  color: white;
  border-radius: 0.5rem;
}

.footer {
  text-align: center;
}

.footer__footer {
  font-size: 0.75rem;
  margin: 0;
}