html {
  --primary-theme-color: #004e92;
  --secondary-theme-color: #000428;
  --primary-text-color: #fff;
  --secondary-highlight-color: #ffd700;
}

.body {
  background-image: linear-gradient(to right, var(--primary-theme-color), var(--secondary-theme-color));
  color: var(--primary-text-color);
  font-family: 'Roboto Mono', monospace;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}