.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-shadow-color);
  transition: var(--all-transitions);
}

.header--scroll {
  background-color: var(--primary-theme-color);
  box-shadow: 0 0.125rem 0.125rem 0 var(--primary-shadow-color);
}

.header-nav {
  padding: 1em 0;
  transition: var(--all-transitions);
}

.header-nav--scroll {
  padding: 0.5em 0;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  padding: var(--padding-container);
}

.header-nav__link-container {
  display: flex;
  gap: 2rem;
}

.header-nav__link-logo-container {
  display: flex;
  height: 2rem;
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-list--open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-close-icon-container {
  position: absolute;
  top: 1rem;
  right: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header-nav__menu-close-icon {
  fill: var(--text-color);
  height: 100%;
}

.header-nav__menu-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  transition: var(--all-transitions);
}

.header-nav__menu-link--active,
.header-nav__menu-link:hover {
  color: var(--primary-highlight);
}

.header-nav__menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight);
  transition: var(--all-transitions);
}

.header-nav__menu-link--active::after,
.header-nav__menu-link:hover::after {
  width: 100%;
}

.header-nav__theme-menu-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-nav__theme-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-highlight);
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  padding: 0 0.25em;
  transition: var(--all-transitions);
}

.header-nav__theme-icon-container::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--primary-theme-color);
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  box-shadow:
    0 0 0.125rem 0 var(--primary-shadow-color),
    0 0 0.25rem 0 var(--primary-shadow-color),
    0 0 0.375rem 0 var(--primary-shadow-color),
    0 0 0.5rem 0 var(--primary-shadow-color);
  transition: var(--all-transitions);
}

.header-nav__theme-icon-container--active {
  background-color: var(--secondary-highlight);
}

.header-nav__theme-icon-container--active::before {
  left: 50%;
}

.header-nav__theme-icon {
  font-size: 1rem;
}

.header-nav__menu-icon-container {
  height: 2rem;
  cursor: pointer;
  margin: 0;
}

.header-nav__menu-icon {
  fill: var(--text-color);
  height: 100%;
}

@media (min-width: 854px) {

  .header-nav__logo-container {
    height: 2.5rem;
  }

  .header-nav__theme-menu-container {
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .header-nav__menu-icon-container,
  .header-nav__menu-close-icon-container {
    display: none;
  }

  .header-nav__menu-link-list {
    position: static;
    flex-direction: row;
    background-image: none;
    gap: 1rem;
    opacity: 1;
    width: auto;
    pointer-events: auto;
  }
}