.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.postimg.cc/brSKyMR4/react-01-01.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: center;
  /* min-height: 100vh; */
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.header {
  display: flex;
}

.header__image-container {
  display: flex;
  max-width: 256px;
  border-radius: 50%;
  overflow: hidden;
}

.header__image {
  width: 100%;
}

.footer {
  display: flex;
}

.footer-nav {
  display: flex;
}

.footer-nav-container {
  display: flex;
}

.footer-nav__link-list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__link-item {
  display: flex;
}

.footer-nav__link {
  display: flex;
  width: 1.5rem;
}

.footer-nav__link-image {
  width: 100%;
}