:root {
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --text-color: #fff;
  --shadow-color: #8888;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --primary-highlight: #61dafb;
  --secondary-highlight: #ffd700;
  --padding-section: 2em 0;
  --padding-container: 0 2em;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
}

.body {
  background-color: var(--secondary-theme-color);
  color: var(--text-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}