:root {
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --text-color: #fff;
  --primary-shadow-color: #8888;
  --secondary-shadow-color: #21242c80;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --primary-highlight: #61dafb;
  --secondary-highlight: #ffd700;
  --padding-section: 2em 0;
  --padding-container: 0 2em;
  --max-width-container: 1024px;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
}

.body {
  background-color: var(--secondary-theme-color);
  color: var(--text-color);
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  min-height: 200vh;
}

.header {
  position: fixed;
  /* z-index: 100; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-shadow-color);
}

.header-nav {
  padding: 0.5em 0;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.header-nav__link-logo-container {
  display: flex;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover {
  box-shadow:
    0 0 0.25rem 0 var(--primary-highlight),
    0 0 0.5rem 0 var(--primary-highlight);
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-icon-label {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover {
  text-shadow:
    0 0 0.25rem var(--primary-highlight),
    0 0 0.5rem var(--primary-highlight);
}

.header-nav__menu-icon-checkbox {
  display: none;
}

.header-nav__menu-icon-checkbox:checked+.header-nav__menu-link-list {
  left: 0;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  background-color: var(--primary-shadow-color);
  list-style: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link {
  position: relative;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active {
  color: var(--primary-highlight);
}

.header-nav__menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight);
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover::after,
.header-nav__menu-link--active::after {
  width: 100%;
}

@media (min-width: 854px) {
  :root {
    --padding-container: 0 0.75em;
  }

  .header-nav__menu-icon-label {
    display: none;
  }

  .header-nav__menu-link-list {
    position: static;
    width: auto;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    background-color: transparent;
  }
}