/* --primary-theme-color zinc-800 */
/* --secondary-theme-color zinc-700 */
/* --primary-text-color white */
/* --secondary-text-color zinc-400 */
/* --primary-shadow-color: zinc-500/50; */
/* --secondary-shadow-color: zinc-100/50; */
/* --primary-button-color cyan-300 */
/* --primary-button-color-active white */
/* --primary-button-text-color black */
/* --primary-highlight-color cyan-300 */
/* --secondary-highlight-color yellow-400 */
/* --invalid-color rose-500 */

/* --primary-theme-color: white; */
/* --secondary-theme-color: zinc-100; */
/* --primary-text-color: black; */
/* --secondary-text-color: zinc-600; */
/* --primary-shadow-color: zinc-500/50;; */
/* --secondary-shadow-color: zinc-900/50; */