:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --secondary-text-color: #aaa;
  --primary-shadow-color: #8888;
  --secondary-shadow-color: #eee8;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: #ffd700;
  --invalid-color: #dc143c;
  --padding-section: 4rem 0;
  --padding-container: 0 2rem;
  --max-width-container: 1024px;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--primary-shadow-color); */
  transition: var(--all-transitions);
}

.header--scroll {
  background-color: var(--primary-theme-color);
  box-shadow: 0 0.125rem 0.125rem 0 var(--primary-shadow-color);
}

.header-nav {
  padding: 0.5rem 0;
  transition: var(--all-transitions);
}

.header-nav--scroll {
  padding: 0.25rem 0;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.header-nav__link-menu-container {
  display: flex;
  gap: 2rem;
}

.header-nav__link-logo-container {
  display: flex;
  height: 2rem;
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-link-list {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-list--open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 600;
  text-decoration: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link--active,
.header-nav__menu-link:hover {
  color: var(--primary-highlight-color);
}

.header-nav__menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: var(--all-transitions);
}

.header-nav__menu-link--active::after,
.header-nav__menu-link:hover::after {
  width: 100%;
}

.header-nav__menu-close-icon-container {
  position: absolute;
  top: 1rem;
  right: 2rem;
  height: 2rem;
  cursor: pointer;
}

.header-nav__menu-close-icon {
  fill: var(--primary-text-color);
  height: 100%;
}

.header-nav__form-theme-menu-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-nav__form {
  border-radius: var(--border-radius);
  box-shadow:
    0 0 0 0.125rem var(--primary-shadow-color),
    0 0 0 0.25rem var(--primary-shadow-color);
  overflow: hidden;
  transition: var(--all-transitions);
}

.header-nav__form-input {
  border: none;
  padding: 0.25rem 0.5rem;
}


.header-nav__theme-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-highlight-color);
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0 0.25rem;
  transition: var(--all-transitions);
}

.header-nav__theme-icon-container::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--primary-theme-color);
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  box-shadow:
    0 0 0.125rem 0 var(--primary-shadow-color),
    0 0 0.25rem 0 var(--primary-shadow-color),
    0 0 0.375rem 0 var(--primary-shadow-color),
    0 0 0.5rem 0 var(--primary-shadow-color);
}

.header-nav__theme-icon {
  font-size: 1rem;
}

.header-nav__menu-icon-container {
  background-color: transparent;
  border: 0;
  border-radius: 1rem;
  height: 2rem;
  cursor: pointer;
}

.header-nav__menu-icon {
  fill: var(--primary-text-color);
  height: 100%;
}