:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --secondary-text-color: #aaa;
  --primary-shadow-color: #8888;
  --secondary-shadow-color: #eee8;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: #ffd700;
  --invalid-color: #dc143c;
  --padding-section: 4rem 0;
  --padding-container: 0 2rem;
  --max-width-container: 1024px;
  --border-radius: 0.5rem;
  --all-transitions: all 0.25s;
}

.movies {
  padding: var(--padding-section);
}

.movies__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.movies__title {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  text-shadow:
    0 0 0.25rem var(--primary-highlight-color),
    0 0 0.5rem var(--primary-highlight-color);
}