:root {
  color-scheme: dark;
  --primary-background-color: #080808;
  --primary-font-family: 'Source Code Pro', monospace;
  --max-width: 64rem;
  --element-size: 1rem;
  --element-spacing: 2rem;
  --border-radius: 1rem;
}

.body {
  margin: 0;
  font-family: var(--primary-font-family);
  font-size: var(--element-size);
}