.body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: var(--element-size);
  transition: background-color var(--transition-duration);
}