@mixin d-flex-fd-ai-jc-g($flex-direction: row, $align-items: stretch, $justify-content: stretch, $gap: 0) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

@mixin container {
  max-width: 1024px;
  margin: auto;
  padding: var(--padding-container);
}

@mixin title {
  font-size: 2rem;
  text-shadow: 0 0 0.25rem var(--primary-highlight-color);
  margin: 0;
}

@mixin button($padding: 0.25em 1em, $font-weight: 700, $border-radius: var(--border-radius)) {
  background-color: var(--button-color);
  border: 0.0625rem solid var(--button-color);
  border-radius: $border-radius;
  color: var(--button-text-color);
  text-shadow: 0 0 0.125rem var(--primary-highlight-color);
  font-weight: $font-weight;
  padding: $padding;
  transition: var(--all-transitions);

  &--active,
  &:hover {
    background-color: var(--button-color-active);
  }
}

@mixin box-shadow($border-radius: var(--border-radius), $spread-radius: 0.125rem, $growth-factor: 2) {
  border-radius: $border-radius;
  box-shadow:
    0 0 0 $spread-radius var(--primary-shadow-color),
    0 0 0 ($spread-radius * $growth-factor) var(--primary-shadow-color);

  &:hover {
    box-shadow:
      0 0 0 ($spread-radius * $growth-factor) var(--primary-highlight-color),
      0 0 ($spread-radius * ($growth-factor+2)) 0 var(--secondary-highlight-color),
      0 0 ($spread-radius * ($growth-factor+4)) 0 var(--secondary-highlight-color);
  }

  overflow: hidden;
  transition: var(--all-transitions);
}

@mixin decorator ($top: 0, $left: 0, $width: 100%, $transform: translate(-50%, -50%)) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  transform: $transform;
  animation: decorator-jump 1s ease-in-out infinite alternate;
}

@mixin desktop() {
  @media (min-width: 854px) {
    @content;
  }
}