@keyframes beat {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(1.125)
  }
}

:root {
  --primary-theme-color: #006241;
  --primary-background-color: #f7f8f9;
  --primary-text-color: #070809;
  --secondary-text-color: #787878;
  --dark-primary-text-color: #f7f8f9;
  --primary-shadow-color: #00000080;
  --primary-font-family: 'Open Sans', sans-serif;
  --element-size: 0.875rem;
  --element-spacing: 2rem;
  --border-radius: 1rem;
  --transition-duration: 0.25s;

  @media (width >=768px) {
    --element-size: 1rem;
    --element-spacing: 1.75rem;
  }
}

.body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: var(--element-size);
  font-family: var(--primary-font-family);
}

.main {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: 0 0 calc(var(--element-size) * 0.125) calc(var(--element-size) * 0.0625) var(--primary-shadow-color);
}

.nav {
  padding-top: calc(var(--element-spacing) * 0.5);
  padding-bottom: calc(var(--element-spacing) * 0.5);
}

.hero {
  position: relative;
  min-height: 100vh;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 100%;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-theme-color);
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {

  & .card__body {
    display: flex;
    flex-direction: column;
    gap: calc(var(--element-spacing) * 0.25);
  }

  & .card__title {
    margin: 0;
    font-size: calc(var(--element-size) * 1.25);
  }

  & .card__subtitle {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: calc(var(--element-size) * 1.125);
  }

  & .card__text {
    margin: 0;
    font-size: var(--element-size);
  }
}

.img {
  display: block;
  object-fit: cover;

  &.img--logo {
    width: calc(var(--element-size) * 3);
    height: calc(var(--element-size) * 3);
  }

  &.img--cover {
    width: calc(var(--element-size) * 16);
    height: auto;
    animation: beat 1s ease-in-out 0s infinite alternate;
  }
}

.button {
  padding: 0.25em 1em;
  border-radius: var(--border-radius);
  color: inherit;
  font-size: var(--element-size);
  font-weight: 600;
  text-decoration: none;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration), color var(--transition-duration);

  &.button--active,
  &:hover {
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 calc(var(--element-size) * 0.125) calc(var(--element-size) * 0.0625) var(--primary-theme-color);
    color: var(--dark-primary-text-color);
  }
}

.container {
  max-width: 1024px;
  padding-right: calc(var(--element-spacing) * 0.5);
  padding-left: calc(var(--element-spacing) * 0.5);
  margin: 0 auto;
}

.flexbox {
  display: flex;

  &.flexbox--centered-sides {
    align-items: center;
    justify-content: space-between;
  }
}

.g-layout {
  display: grid;

  &.g-layout--center {
    place-items: center;
    place-content: center;
  }
}

.c-primary {
  color: var(--primary-theme-color);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.g-5xs {
  gap: calc(var(--element-spacing) * 0.25);
}

.g-md {
  gap: var(--element-spacing);
}

@media (width >=768px) {
  .md\:d-block {
    display: block;
  }

  .md\:g-template-columns-1fr-1fr {
    grid-template-columns: 1fr 1fr;
  }
}