.acrostic {
  padding-top: var(--element-spacing);
  padding-bottom: var(--element-spacing);
  background-image: radial-gradient(transparent, var(--primary-background-color));

  & .acrostic__stanza {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: calc(var(--element-spacing) * 0.5);
  }

  & .acrostic__verse {
    font-weight: 700;
    text-shadow:
      0 0 calc(var(--element-size) * 0.25) var(--tertiary-info-color),
      0 0 calc(var(--element-size) * 0.5) var(--tertiary-info-color);

    &::first-letter {
      font-size: calc(var(--element-size) * 1.5);
    }
  }
}