.card--flip {
  &:hover .card__body {
    transform: rotateY(180deg);
  }
}

.card__body--flip {
  position: relative;
  height: calc(var(--element-size) * 14);
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);
  box-shadow: 0 calc(var(--element-size) * 0.5) calc(var(--element-size) * 0.75) 0 var(--primary-shadow-color);
  text-align: center;
  transform-style: preserve-3d;
  transition: transform calc(var(--transition-duration) * 2);
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: calc(var(--element-spacing) * 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  backface-visibility: hidden;

  &:nth-child(2) {
    transform: rotateY(180deg);
  }
}

.card__title {
  margin: 0;
  font-size: calc(var(--element-size) * 1.25);
  font-weight: 700;
}

.card__title--lg {
  font-size: calc(var(--element-size) * 1.25);
}

.card__title--xl {
  font-size: calc(var(--element-size) * 1.375);
}

.card__title--2xl {
  font-size: calc(var(--element-size) * 1.5);
}

.card__title--3xl {
  font-size: calc(var(--element-size) * 1.5);
  font-weight: 800;
}

.card__title--4xl {
  font-size: calc(var(--element-size) * 1.625);
  font-weight: 800;
}

.card__title--5xl {
  font-size: calc(var(--element-size) * 1.75);
  font-weight: 800;
}

.card__text {
  margin: 0;
  font-size: var(--element-size);
}