.form {
  width: min(calc(var(--element-size) * 32), 100%);
  margin: 0 auto;
  padding: 0 var(--element-spacing);
  box-sizing: border-box;
}

.form__input {
  width: 100%;
  padding: 0.3125em 0.8125em;
  border-radius: var(--border-radius);
  font-size: var(--element-size);
}