.off-canvas {
  --t-translate: -100%;
  position: fixed;
  /* z-index: 50; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-primary-shadow-color);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration);

  &:target {
    --t-translate: 0;
    opacity: initial;
    pointer-events: initial;
  }
}

.off-canvas--top {
  & .off-canvas__child {
    width: 100%;
    height: 50vh;
    transform: translate(0, var(--t-translate));
  }
}

.off-canvas--right {
  --t-translate: 100%;
  justify-content: flex-end;

  & .off-canvas__child {
    width: min(calc(var(--element-size) * 32), 50%);
    height: 100%;
    transform: translate(var(--t-translate), 0);
  }

  .off-canvas__close {
    right: initial;
    left: calc(var(--element-spacing) * 0.5);
  }
}

.off-canvas__child {
  position: relative;
  width: 50%;
  height: 100%;
  padding: calc(var(--element-spacing) * 0.5);
  padding-top: var(--nav-spacing);
  box-sizing: border-box;
  background-color: var(--light-primary-shadow-color);
  transition: padding var(--transition-duration), transform var(--transition-duration);
}

.off-canvas__close {
  position: absolute;
  top: var(--nav-spacing);
  right: calc(var(--element-spacing) * 0.5);
  transition: top var(--transition-duration);
}