:root {
  --primary-theme-color: #087ea4;
  --secondary-theme-color: #087ea4;
  --primary-background-color: #16181d;
  --secondary-background-color: #23272f;
  --primary-text-color: #f7f8f9;
  --secondary-text-color: #888;
  --primary-shadow-color: #ffffff80;
  --secondary-shadow-color: #ffffff40;
  --light-primary-shadow-color: #00000080;
  --primary-font-family: 'Source Code Pro', monospace;
  --max-width: 1024px;
  --element-spacing: 32px;
  --element-size: 16px;
  --border-radius: 16px;
  --transition-duration: 0.25s;
}

.body {
  margin: 0;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: var(--element-size);
  font-family: var(--primary-font-family);
}

.header {
  position: fixed;
  /* z-index: 25; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--light-primary-shadow-color);
  box-shadow: 0 0 calc(var(--element-size) * 0.25) calc(var(--element-size) * 0.125) var(--primary-shadow-color);
}

.nav {
  padding-top: calc(var(--element-spacing) * 0.5);
  padding-bottom: calc(var(--element-spacing) * 0.5);
}