:root {
  color-scheme: dark;
  --primary-theme-color: #087ea4;
  --primary-text-color: #f7f8f9;
  --secondary-text-color: #bbb;
  --primary-shadow-color: #ffffff80;
  --light-primary-shadow-color: #00000080;
  --primary-font-family: monospace;
  --max-width: 1024px;
  --element-spacing: 32px;
  --element-size: 16px;
  --border-radius: 16px;
}

.body {
  min-height: 100vh;
  margin: 0;
  background-image: url('https://i.postimg.cc/x9MyhM3D/react-system.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--primary-font-family);
  font-size: var(--element-size);
}

.section {
  padding-top: var(--element-spacing);
  padding-bottom: var(--element-spacing);
}

.container {
  max-width: var(--max-width);
  padding-right: calc(var(--element-spacing) / 2);
  padding-left: calc(var(--element-spacing) / 2);
  margin: 0 auto;
}

.card {
  max-width: calc(var(--element-size) * 32);
  padding: calc(var(--element-spacing) / 2);
  background-color: var(--light-primary-shadow-color);
  backdrop-filter: blur(var(--element-size));
  border-radius: var(--border-radius);
  box-shadow: 0 0 calc(var(--element-size) * 0.25) calc(var(--element-size) * 0.125) var(--primary-shadow-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--element-spacing) / 4);
}

.card__title {
  margin: 0;
  font-size: calc(var(--element-size) * 1.125);
}

.card__subtitle {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: var(--element-size);
  font-weight: 400;
}

.card__text {
  margin: 0;
  font-size: calc(var(--element-size) * 0.875);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--element-size) / 2);
}

.button {
  padding: 0.25em 1em;
  border-radius: var(--border-radius);
  background-color: var(--primary-theme-color);
  font-size: calc(var(--element-size) * 0.75);
  font-weight: 700;
}

.title {
  position: relative;
  margin: 0;
  font-size: calc(var(--element-size) * 2);

  &::before {
    content: '';
    position: absolute;
    bottom: -0.125em;
    left: 0;
    width: 2em;
    height: 0.125em;
    background-color: var(--primary-theme-color);
  }
}

.img {
  width: calc(var(--element-size) * 12.5);
  height: calc(var(--element-size) * 12.5);
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--element-size) * 0.5) calc(var(--element-size) * 0.25) var(--primary-shadow-color);
  display: block;
}

.link {
  color: var(--primary-text-color);
  font-size: calc(var(--element-size) * 1.25);
}

.g-layout {
  display: grid;
}

.g-layout--auto-fit-columns {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--element-size) * 20), 1fr));
}

.d-flex {
  display: flex;
}

.f-direction-column {
  flex-direction: column;
}

.j-items-center {
  justify-items: center;
}

.g-md {
  gap: var(--element-spacing);
}