.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-shadow-color);
}

.header--scroll {
  background-color: var(--primary-theme-color);
  box-shadow: 0 0.125rem 0.125rem 0 var(--primary-shadow-color);
}

.header-nav {
  padding: 0.5em 0;
  transition: var(--all-transitions);
}

.header-nav--scroll {
  padding: 0.25em 0;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.header-nav__link-logo-container {
  display: flex;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  transition: var(--all-transitions);
}

.header-nav__link-logo-container:hover {
  box-shadow:
    0 0 0.25rem 0 var(--primary-highlight-color),
    0 0 0.5rem 0 var(--primary-highlight-color);
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-icon-label {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover {
  text-shadow:
    0 0 0.25rem var(--primary-highlight-color),
    0 0 0.5rem var(--primary-highlight-color);
}

.header-nav__menu-link-list {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, var(--primary-theme-color), var(--secondary-theme-color));
  list-style: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-list--open {
  left: 0;
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link-item--close-absolute {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.75rem;
  cursor: pointer;
  transition: var(--all-transitions);
}

.header-nav__menu-link-item--close-absolute:hover {
  text-shadow:
    0 0 0.25rem var(--primary-highlight-color),
    0 0 0.5rem var(--primary-highlight-color);
}

.header-nav__menu-link {
  position: relative;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active {
  color: var(--primary-highlight-color);
}

.header-nav__menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover::after,
.header-nav__menu-link--active::after {
  width: 100%;
}

@media (min-width: 854px) {
  .header-nav__menu-icon-label {
    display: none;
  }

  .header-nav__menu-link-list {
    position: static;
    width: auto;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    background-image: none;
  }

  .header-nav__menu-link-item--close-absolute {
    display: none;
  }

}