@import url(./variables.css);
@import url(./header.css);
@import url(./profile.css);
@import url(./experiences.css);
@import url(./projects.css);
@import url(./skills.css);
@import url(./contact.css);
@import url(./footer.css);

.body {
  background-color: var(--primary-theme-color);
  color: var(--text-color);
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.body--light {
  --primary-theme-color: #fff;
  --secondary-theme-color: #f5f5f5;
  --text-color: #000;
  --primary-shadow-color: #2228;
  --secondary-shadow-color: rgba(255, 255, 255, 0.875);
}

.main {
  width: 100%;
}

.wave-separator {
  width: 100%;
}

.wave-separator--r-180deg {
  transform: rotate(180deg);
}

.wave-separator__wave-container {
  display: flex;
  margin: 0;
}

.wave-separator__wave {
  fill: var(--secondary-theme-color);
  width: 100%;
}