:root {
  --primary-theme-color: deeppink;
  --secondary-theme-color: #282c34;
  --text-color: #fff;
  --primary-shadow-color: #8888;
  --secondary-shadow-color: #21242c80;
  --button-color: #61dafb;
  --button-color-active: #fff;
  --button-text-color: #000;
  --primary-highlight: #61dafb;
  --secondary-highlight: #ffd700;
  --padding-section: 2em 0;
  --padding-container: 0 2em;
  --max-width-container: 1024px;
  --border-radius: 0.5rem;
  --all-transitions: all 0.5s;
  --letter-color-1: #00bef8;
  --letter-color-2: #ff0697;
  --letter-color-3: #ff4d00;
  --letter-color-4: #ffe600;
  --letter-color-5: #bb00ff;
  --letter-color-6: #f5926b;
}

.body {
  background-image: radial-gradient(var(--primary-theme-color), var(--secondary-theme-color));
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main {
  width: 100%;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cover__name {
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
}

.cover__name-letter {
  position: relative;
  transition: var(--all-transitions);
}

.cover__name-letter:hover {
  filter: brightness(250%);
}

.cover__name-letter:nth-child(1) {
  color: var(--letter-color-1);
}

.cover__name-letter:nth-child(2) {
  color: var(--letter-color-2);
}

.cover__name-letter:nth-child(3) {
  color: var(--letter-color-3);
}

.cover__name-letter:nth-child(4) {
  color: var(--letter-color-4);
}

.cover__name-letter:nth-child(5) {
  color: var(--letter-color-5);
}

.cover__name-letter:nth-child(6) {
  color: var(--letter-color-6);
}

.cover__name-letter::before {
  content: var(--letter);
  position: absolute;
  transform: scale(1.125);
  filter: blur(1rem);
}

.cover__name-letter::after {
  content: var(--letter);
  position: absolute;
  top: 75%;
  left: 0;
  filter: blur(0.25rem);
  transform: rotateX(125deg);
}

@media (min-width: 854px) {
  .cover__name {
    font-size: 8rem;
  }
}