.nav {
  padding-top: calc(var(--element-spacing) * 0.75);
  padding-bottom: calc(var(--element-spacing) * 0.75);
  transition: padding var(--transition-duration);
}

.nav--scroll {
  padding-top: calc(var(--element-spacing) * 0.5);
  padding-bottom: calc(var(--element-spacing) * 0.5);
}