.nav {
  --nav-padding: calc(var(--element-spacing) * 0.75);
  padding-top: var(--nav-padding);
  padding-bottom: var(--nav-padding);
  transition: padding var(--transition-duration);
}

.nav--scroll {
  --nav-padding: calc(var(--element-spacing) * 0.5);
}